{% extends 'quickbooks/base.html' %} 

{% macro errors(element) %}
    {% if element.errors %}
    {% for error in element.errors %}
    Error: {{ error }}
    {% endfor %}
    {% endif %}
{% endmacro %}

{% block body %}
<h2>MCP Quickbooks Entry</h2>
<form action="{{ url_for('quickbooks.data_entry' )}}" method="POST">
    <br>
    {{form.period.label}} {{form.period()}}
    {{ errors(form.period) }}
    <br>
    <br>
    {{form.wisetack_junior_position.label}} {{form.wisetack_junior_position()}}
    {{ errors(form.wisetack_junior_position) }}
    <br>
    <br>
    {{form.lighter_junior_position.label}} {{form.lighter_junior_position()}}
    {{ errors(form.lighter_junior_position) }}
    <br>
    <br>
    <input type="submit" value="save" />
</form>
{% endblock %}
