

<form action="{{ url_for('quickbooks.save_position' )}}" method="POST">
    <br>
        <label for="filter">Enter position</label>
    <br>
    <br>
        period: <input id="period" name="period" type="date"  required/> 
    <br>
    <br>
        wisetack_junior_position: <input id="wisetack_junior_position" name="wisetack_junior_position" type="number" placeholder="0.00" step="0.01" width="150" max="999999999999.99"/>
    <br>
    <br>
        lighter_junior_position: <input id="lighter_junior_position" name="lighter_junior_position" type="number" placeholder="0.00" step="0.01" width="150" max="999999999999.99"/>
    <br>
    <br>
    <input type="submit" value="save" />
</form>

